* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*------------ HEADER ------------- */

.header {
    position: fixed;
    z-index: 10;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 160px;
    background-color: rgba(0, 0, 0, 0);

}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 17px;
    margin: 50px;
}

.iconos-nav .perfil {
    position: absolute;
    top: 2rem;
    right: 5rem;
    color: #ffffff;
}

.iconos-nav form button a {
    color: #ffffff;
    text-decoration: none;
}

.iconos-nav .contactanos {
    position: absolute;
    top: 2rem;
    right: 7rem;
    color: #ffffff;
}

.iconos-nav h5 {
    text-align: center;
    padding: 10px;
}



/* -------ANIMATION LOGO NAV-------- */

.header:hover {
    background-color: rgba(255, 255, 255, 0.275);
}

.header {
    animation-name: fade-in;
    animation-duration: 1s;
}

@keyframes fade-in {
    0%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(0);
    }
}


/* -----------------MAIN  |  INDEX------------------ */


.fondo {
    width: 100%;
    height: 100vh;

    background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.200)), url(../imagenes/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.fondo h1 {
    background-color: rgba(0, 0, 0, 0.405);
    color: white;
    padding: 28px;
    border-radius: 1rem;
    font-family: serif;
    font-style: italic;
    font-weight: 500;
    font-size: 90px;
}

main .h2 {  
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

main .h2 h2{
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
    font-style: italic;
}

.contenedor {
    background-color: #ffffff;
    padding-top: 65px;
    padding-bottom: 65px;
    display: flex;
    justify-content: center;
}

main section .contenedor >div .carousel-inner .carousel-item .carousel-caption {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    
}

main section .contenedor >div .carousel-inner div a {
    text-decoration: none;
    color: white;
}

main section .contenedor >div .carousel-inner div a h5 {
    background-color: rgba(0, 0, 0, 0.405);
    padding: 6px;
    width: 160px;
    border-radius: .3rem;
}

main section .contenedor >div .carousel-inner div a h5:hover {
    transform: scale(1.5);
    background-color: white;
    color: black;
    font-weight: 700; 
}

/*--------------- FOOTER index---------------*/

footer {
    background-color: #ffffff;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center
}

.foot {
    text-align: center;
    font-family: serif;
}

.foot div h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.foot .redes p {
    margin-bottom: 5px;
}
.foot .redes a {
    color: #000;
    padding: 5px;
}


/* -----------------------TIENDA | main----------------------- */

.fondo-tienda {
    background: linear-gradient(rgba(0, 0, 0, 0.201), rgba(0, 0, 0, 0.207)), url(../imagenes/shopping.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.main-tienda div h2 {
    font-size: 80px;
    font-family: serif;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    margin: 80px;
    color: rgb(0, 0, 0);
}

.main-tienda .clases-tienda {
    justify-content: space-evenly;
    background-color: #ffffff;
    padding-top: 30px;
}

.main-tienda .clases-tienda button {
    font-size: 18px;
    font-weight: 500;
    margin: 5px !important;
    padding: 2px 10px;
}

.main-tienda .clases-tienda button:hover {
    transform: scale(1.3);
    background-color: #ffffff7a;
}

.contenedor-tienda {
    width: 100%;
    justify-content: space-evenly;
    border: 0;
    padding-top: 100px;
}

.pic-tienda {
    width: 350px;
    height: 500px;
    margin: 2rem;
    position: relative;
}

.pic-tienda a img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
}

.pic-tienda a .img-top {
    position: absolute;
    left: 0;
    opacity: 0;
    transition: 1s ease;
}

.pic-tienda a .img-top:hover {
    opacity: 1;
}

.pic-tienda p {
    position: absolute;
    font-size: 1.5rem;
    font-family: sans-serif;
    top: 0;
    right: 0;
    border-radius: 0 1rem 0 1rem;
    background-color: rgba(255, 255, 255, 0.596);
    padding: 1.5px 5px 1.5px 5px;
}

.main-tienda .barra-pag div ul{
    justify-content: center !important;   
}

.main-tienda .barra-pag div ul li a {
    color: #000000;
    font-weight: 500;
}


/*------------------ PERFIL | INICIO DE SESION ----------------*/

.main-perfil {
    background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.204)), url(../imagenes/fondo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.main-perfil .div-inicio-sesion {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    font-size: 23px;
    width: 500px;
    
}

.main-perfil .div-inicio-sesion .inicio-sesion {
    background-color: rgba(0, 0, 0, 0.405);
    color: white;
    margin-bottom: 100px;
    padding: 30px;
    border-radius: 1rem;
}

.main-perfil .div-inicio-sesion .registrarse {
    background-color: rgba(0, 0, 0, 0.405);
    color: white;
    padding: 30px;
    border-radius: 1rem;
}

main .contactanos {
    background-color: rgba(0, 0, 0, 0.405);
    border-radius: 1rem;
    color: #ffffff;
    font-size: 21px;
    padding: 2.5rem 5rem 2.5rem 5rem;
    margin: 50px;
    text-align: center;
}



/* ----------------------REGISTRARSE | main---------------------- */

.div-main-registro {
    height: 100vh;
    background-color: #ffffff;
    text-align: center;
    padding-top: 220px;
    font-size: 22px;
}



/* ---------------------ARMARIO | MAIN | GALERIA----------------- */

.fondo-armario {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.206), rgba(0, 0, 0, 0.201)), url(../imagenes/fondoArmario.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-armario .fondo-armario h2 {
    background-color: rgba(0, 0, 0, 0.405);
    color: white;
    padding: 33px;
    border-radius: 1rem;
    font-size: 80px;
    font-family: serif;
    font-style: italic;
    font-weight: 500; 
}

.main-armario .galeria {
    background-color: #ffffff;
    width: 100%;
    padding: 150px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 250px;
    gap: 10px;
}

.main-armario .galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 17px 7px 15px 0px rgba(0, 0, 0, 0.55);
}

.carousel-armario {
    grid-column-start: span 3;
    grid-row-start: span 3;
}
.carousel-armario >div .carousel-inner div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* ====================MEDIAS QUERIES=================== */


@media screen and (max-width:1240px) {
    main .h2 h2 {
        font-size: 40px;
    }
    .main-armario .galeria {
        padding: 50px;
        padding-bottom: 20px;
        grid-template-columns: repeat(6, 1fr);
    }
    .img9{
        display: none;
    }
    .img10{
        display: none;
    }
    .img11{
        display: none;
    }
    .img12{
        display: none;
    }
    .img19{
        display: none;
    }
    .img20{
        display: none;
    }
    .img21{
        display: none;
    }
    .img22{
        display: none;
    }
    .img23{
        display: none;
    }
    .img24{
        display: none;
    }
    .img25{
        display: none;
    }
    .img26{
        display: none;
    }
    .img27{
        display: none;
    }
    .img28{
        display: none;
    }
    .img29{
        display: none;
    }
    .img30{
        display: none;
    }
    
    .carousel-armario {
        grid-column-start: span 2;
        grid-row-start: span 2;
    } 
}

@media  screen and (max-width:1023px){
    main .h2 h2 {
        font-size: 30px;
    }
    .fondo h1 {
        font-size: 60px;
    }
    .main-tienda div h2 {
        font-size: 60px;
    }
    .main-armario .fondo-armario h2 {
        font-size: 60px;
    }
    .main-armario .galeria {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .carousel-armario {
        display: none;
    }
    .img13{
        display: none;
    }
    .img14{
        display: none;
    }
    .img15{
        display: none;
    }
    .img16{
        display: none;
    }
    .inicio-sesion{
        display: none;
    }
    .registrarse{
        display: none;
    }

}
@media screen and (max-width:768px) {
    main .h2 {
        display: none;
    }
    nav ul {
        display: flex;
        flex-direction: column; 
        text-align: center;
    }
    nav ul li a {
        font-size: 15px;
    }

    main .div-inicio-sesion {
        display: flex;
        flex-direction: column;
    }
    .main-perfil {
        display: flex;
        flex-direction: column;
        padding-top: 8rem;
        align-items: center;  
    }
    main #contactanos {
        padding-top: 100px;
    }
}

@media screen and (max-width:669px) {
    .iconos-nav .perfil {
        right: 2rem;
    }
    .iconos-nav .contactanos {
        right: 4rem;
    }
    .fondo h1 {
        font-size: 35px;
    }
    .fondo h1 {
        padding: 25px;
    }
    .main-armario .fondo-armario h2 {
        font-size: 50px;
        padding: 25px;
    }
    

 }
 @media screen and (max-width:500px) {
    .fondo {
        font-size: 25px;
    }
    .main-armario .fondo-armario h2 {
        font-size: 40px;
        padding: 25px;
    }
 }